html, body {
	height: 100%;
	font-family: 'Noto Sans', 'Noto Sans Georgian', Arial, Sans-serif;
	background: #ecf0f1;
	color: black;
}

img {
	max-width: 100%;
}


/*	GENERAL MARKUP WITH STICKY FOOTER	*/

.wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	position: fixed;
	width: 100%;
	padding: 5px 0 15px 0;
	z-index: 100;
	background: white;
	box-shadow: 0 5px 5px #aaa;
}

.content {
	position: relative;
	padding-top: 140px;
	padding-bottom: 140px;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: #101010;
	padding: 15px 0;
	color: white;
	text-align: center;
	font-size: 16px;
}


/* GENERAL */

.unstyled, .unstyled:hover, .unstyled:focus {
	color: inherit;
	text-decoration: none;
}

.copyright {
	padding: 5px;
}

.to-top {
	margin-right: 50px;
	padding: 5px 7px;
	border: solid 1px white;
	cursor: pointer;
}

.red {
	color: #eb1b23;
}

.social {
	position: fixed;
	top: 200px;
	left: 0;
	color: white;
	font-size: 25px;
}

.social > ul {
	padding: 0;
	list-style: none;
}

.social > ul > li {
	height: 100%;
}

.social-link {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin: 5px 0;
	padding: 10px;
	text-align: center;
}

.social-arrow {
	display: none;
	position: absolute;
	top: 5px;
	left: 50px;
	padding-top: 15px;
	background: #30497e;
	height: 50px;
	font-size: 15px;
}

.facebook-pages {
	position: absolute;
	top: -3px;
	left: 15px;
}

.facebook-pages img {
	padding: 2px;
	background: white;
	border: solid 1px #30497e; 
	max-width: none;
	margin-bottom: 12px;
}

.facebook {
	background: #3b5998;
}

.instagram {
	background: #bbaa7c;
}

.youtube {
	background: #c4302a;
}